@import 'tailwindcss';

@layer base {
	body {
		background: #171315;
		font-family: 'Roboto', sans-serif;
		margin: 0;
	}

	#root {
		width: 1600px;
		max-width: 100%;
		margin: 0 auto;
		text-align: center;
		min-height: 100svh;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
	}
}

@theme {
	--color-orange-main: #F6762C;
	--color-gray-main: #312F30;
	--color-gray-secondary: #1C1C1C;
	--color-white-main: #FFFFFF;

}

/* Утили классы можно кастовать какие хочешь! */

@utility flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
